<div id="music-player-bar" class="@Class" style="@Style">
    <div id="m-progress-container">
        <div id="m-progress-bar"></div>
    </div>

    <div class="m-controls">
        <div class="m-left">
            <button id="m-play-btn">▶</button>
            <span id="m-title-display">未在播放</span>
        </div>

        <div class="m-right">
            <MudButton id="m-next-btn" Style="font-weight:bold;" EndIcon="@Icons.Material.Filled.QueueMusic" Color="Color.Primary">下一首</MudButton>
        </div>
    </div>
</div>
<audio id="m-audio-core"></audio>

@code {
    [Inject] IJSRuntime JS { get; set; } = default!;
    [Parameter]
    public string? Class { get; set; }

    [Parameter]
    public string? Style { get; set; }
    private IJSObjectReference? _module;
    private record Music(string Name, string Path);
    private List<Music> musics = new List<Music>();
    private int currentMusicIndex;
    protected override Task OnInitializedAsync()
    {
        musics.Add(new Music("因为喜欢你", "music/因为喜欢你.mp3"));
        musics.Add(new Music("出山", "music/出山.mp3"));
        musics.Add(new Music("若水三千", "music/若水三千.mp3"));
        currentMusicIndex = Random.Shared.Next(0, 3);
        return base.OnInitializedAsync();
    }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            _module = await JS.InvokeAsync<IJSObjectReference>("import", "./Components/MusicComponent.razor.js");
            // 初始化并传入当前组件引用
            await _module.InvokeVoidAsync("initMusicPlayer", DotNetObjectReference.Create(this));

            // 初始加载第一首
            await OnNextTrack();
        }
    }
    [JSInvokable]
    public async Task OnNextTrack()
    {
        if (musics == null || musics.Count == 0) return;
        currentMusicIndex = (currentMusicIndex + 1) % musics.Count;
        var nextMusic = musics[currentMusicIndex];
        if (_module != null)
            await _module.InvokeVoidAsync("loadTrack", nextMusic.Path, nextMusic.Name);
    }
}