/* /Components/MusicComponent.razor.rz.scp.css */
#music-player-bar[b-gumq5ipcy1] {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background: rgba(255, 255, 255, 0.4); /* 透明度 */
    backdrop-filter: blur(15px); /* 毛玻璃 */
    -webkit-backdrop-filter: blur(15px);
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    z-index: 9999;
    display: flex;
    flex-direction: column;
}

/* 第一版风格：进度条在容器最顶部 */
#m-progress-container[b-gumq5ipcy1] {
    width: 100%;
    height: 4px; /* 进度条高度 */
    background: rgba(0, 0, 0, 0.05);
    cursor: pointer;
    position: absolute;
    top: 0;
}

#m-progress-bar[b-gumq5ipcy1] {
    height: 100%;
    width: 0%;
    background: linear-gradient(90deg, #4facfe 0%, #00f2fe 100%);
    box-shadow: 0 0 8px rgba(79, 172, 254, 0.6);
}

.m-controls[b-gumq5ipcy1] {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    flex: 1; /* 撑开剩余高度 */
    margin-top: 4px; /* 避开进度条 */
}

#m-play-btn[b-gumq5ipcy1], #m-next-btn[b-gumq5ipcy1] {
    background: none;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
    color: #333;
    padding: 5px 10px;
}

#m-title-display[b-gumq5ipcy1] {
    font-size: 14px;
    color: #444;
    margin-left: 10px;
}
/* /Pages/Resume.razor.rz.scp.css */
@keyframes shake-b-d50th1n947 {
    0% {
        transform: translate(0, 0); /* 初始位置 */
    }

    10% {
        transform: translate(-5px, 5px); /* 左上抖动 */
    }

    20% {
        transform: translate(0, 0); /* 回到原位 */
    }

    30% {
        transform: translate(5px, 5px); /* 右上抖动 */
    }

    40% {
        transform: translate(0, 0); /* 回到原位 */
    }

    50% {
        transform: translate(5px, -5px); /* 右下抖动 */
    }

    60% {
        transform: translate(0, 0); /* 回到原位 */
    }
     
    70% {
        transform: translate(-5px, -5px); /* 左下抖动 */
    }

    80% {
        transform: translate(0, 0); /* 回到原位 */
    }

    100% {
        transform: translate(0, 0); /* 结束时回到原位 */
    }
}

[b-d50th1n947] .shake-element :hover{
    animation: shake-b-d50th1n947 1s infinite;
    transform:scale(1.2);
}
[b-d50th1n947] .gradient-text {
    background: linear-gradient(to right, #ff0000, #ffff00);
}
[b-d50th1n947] .text {
    font-weight: 800;
    letter-spacing: calc( 4px);
    transition: all 0.3s ease-in-out;
}

 [b-d50th1n947]   .text:hover {
        letter-spacing: calc( 6px);
    }

