<div class="pa-4">
    <MudChart ChartType="ChartType.Pie" InputData="data" InputLabels="labels">
    </MudChart>
</div>
@code
{
    private double[] data = [45,20,15,10,10];
    private string[] labels = ["Dotnet","Unity","嵌入式","MySql","其他"];
}