@page "/ouseblog"
<Width xs="10" sm="8">
    <MudTextField Variant="Variant.Outlined" @bind-text=searchContent
    Placeholder="请输入您感兴趣的内容" Class="py-4"
    AdornmentIcon="@Icons.Material.Rounded.Search"
    Adornment="Adornment.Start" T="string"></MudTextField>
    <div class="d-flex flex-column gap-4">
    <BlogOverflow></BlogOverflow>
    <BlogOverflow></BlogOverflow>
    <BlogOverflow></BlogOverflow>
    </div>
    <MudText Align="Align.Center" Typo="Typo.h6">持续完善中....</MudText>
</Width>
@code
{
    private string? searchContent;
}