
<MudButton Href=@($"/blogContent?url={BlogModel.Url}") Class="hvr-sweep-to-right">
	<MudPaper Class="rounded-lg pa-4 cursor-pointer " Height="100%" Width="100%" Outlined>
	<Animate DurationMs="600" Animation="Animations.Fade" >
	<MudText Typo="Typo.h6" Style="font-weight:700;white-space:nowrap;overflow:hidden;text-overflow:ellipsis">@BlogModel.Name</MudText>
	<MudText Style="white-space:nowrap;overflow:hidden;text-overflow:ellipsis"  >@BlogModel.Description</MudText>
    <div class="d-flex">
		<MudText Inline Typo="Typo.subtitle2">
					标签:@BlogModel.Label
		</MudText>
			<MudSpacer></MudSpacer>
			<MudText Inline Typo="Typo.subtitle2">
			  日期:@BlogModel.DateTime
			</MudText>
			<MudText Inline Typo="Typo.subtitle2" Class="ml-1">
			 天气:@BlogModel.Weather
			</MudText>
	</div>
	</Animate>
</MudPaper>
</MudButton>
@code{
	[Parameter]
	public BlogModel BlogModel { get; set; } = new BlogModel();
}
