@page "/resume"
@inject IJSRuntime JSRuntime
<div style="position:fixed;height:100vh;width:100vw">
    <MudStack  Style="width:100%;height:90%" Class="flex-grow-1" Justify="Justify.Center" AlignItems="AlignItems.Center"> 
        <MudText>踏上0use的学习旅程!</MudText>
    <MudButton Variant="Variant.Filled">前往</MudButton>
     </MudStack>
</div>
@code
{
    protected override Task OnAfterRenderAsync(bool firstRender)
    {
        if(firstRender)
        {
            JSRuntime.InvokeVoidAsync("window.hideAppbar");
        }
        return base.OnAfterRenderAsync(firstRender);
    }
}
<style>
</style>