@page "/blogContent"
@using Blazored.LocalStorage
@inject NavigationManager Navigation
@inject ISnackbar Snackbar
@inject ILocalStorageService localStorage

@if (string.IsNullOrEmpty(fullUrl))
{
    <div style="width:100%;height:100vh" class="d-flex flex-column justify-center align-center">
        <div class="load_6"></div> @* 你之前的加载动画 *@
    </div>
}
else
{
    <div class="d-flex gap-4">
        <MudContainer MaxWidth="MaxWidth.Medium" Class="py-8">
            <MudMarkdown Value="@fullUrl"
                         Props="mudMarkdownProps"
                         SourceType="MarkdownSourceType.Url"
                         Styling="@mudMarkdownStyling" />
        </MudContainer>

    </div>
}

@code {
    [SupplyParameterFromQuery(Name = "url")]
    public string BlogUrl { get; set; } = string.Empty;

    private string? fullUrl;
    private MudMarkdownStyling mudMarkdownStyling = new();
    private MudMarkdownProps mudMarkdownProps = new MudMarkdownProps()
    {
        Heading ={
            OverrideTypo = typo => typo switch
{ 
    Typo.h1 => Typo.h4, // # 映射为 h4
    Typo.h2 => Typo.h5, // ## 映射为 h5
    Typo.h3 => Typo.h6, // ### 映射为 h6
    _ => typo           // 其他保持不变
}
                }
    };
    private CodeBlockTheme CodeBlock { get; set; } = CodeBlockTheme.A11yDark;

    protected override async Task OnInitializedAsync()
    {
        // 加载配置
        CodeBlock = await localStorage.GetItemAsync<CodeBlockTheme>(Settings.CodeBlockTheme);
        mudMarkdownStyling.CodeBlock.Theme = CodeBlock;
        mudMarkdownStyling.CodeBlock.CopyButton = CodeBlockCopyButton.Sticky;
        mudMarkdownStyling.CodeBlock.CopyButtonText= "复制";

      

        if (string.IsNullOrEmpty(BlogUrl))
        {
            Navigation.NavigateTo("/ouseblog");
            return;
        }

        // 拼接 main 分支的原始文件地址
        fullUrl = $"{Settings.BlogRawRoot}{BlogUrl}";
    }

    private async Task SaveTheme()
    {
        mudMarkdownStyling.CodeBlock.Theme = CodeBlock;
        await localStorage.SetItemAsync(Settings.CodeBlockTheme, CodeBlock);
    }
}