@using OusePersonalWeb.Components
<div style="min-height:400px">
    <MudTimeline   TimelineOrientation="TimelineOrientation.Vertical" >
        @foreach(var item in lineItems)
        {
            <TimeLineTemplate Content="@item.Content" Time="@item.Time" Title="@item.Title" ></TimeLineTemplate>
        }
    </MudTimeline>
</div>
@code
{
    private List<TimeLineItem> lineItems = new List<TimeLineItem>()
    {
        new TimeLineItem("C语言","大一开始学习C语言","2023-9-11"),
        new TimeLineItem("加入游戏开发部","C语言基础语法学完,加入游戏开发部，开始学习C#和Unity","2023-10-20"),
        new TimeLineItem("算法和数据结构,PLC,嵌入式", "漫长的数算学习开始了，同时学习PLC Smart200,51,Stm32","2023-11-20"),
        new TimeLineItem("前端,计算机网络","C语言高一段落了,同时C#,PLC也都懂了一些","2023-12-20"),
        new TimeLineItem("通过计算机二级,开始学习Linux","期间参加了一次游戏开发比赛,让我意识到了自己编程水平太差,也发现了我并不喜欢搞嵌入式.语言太低效,我不喜欢。","2024-3"),
        new TimeLineItem("通过软件考试程序员","期间多了多款游戏(包括一款基于Photon的联网游戏),学习设计模式,数据流图等软件知识,Linux正常使用也不在话下了,","2024-6-20"),
        new TimeLineItem("开始学习.Net","寒假期间,接触了Asp.Net Core,学习Entity Framework Core,打通了后端与数据库","2024-7-1"),
        new TimeLineItem("前端强化学习","学习玩JS后，开始接触Blazor和微信小程序,发现了Blazor的组件库MudBlazor","2024-9-1"),
        new TimeLineItem("通过软件设计师,做出了第一款前后端,数据库的综合Web","期间简单学习了MySql,UML,ER","2024-12-30"),
        new TimeLineItem("学习Asp.Net","期间疯狂学习.Net框架(主要是Asp.Net方面),啃MudBlazor源码,做网站,学会使用nanoFramework","2025-3-12"),
        new TimeLineItem("Avalonia And PlatformIO","期间全面学习Avalonia和platformIO,制作原生应用","2025-6-12"),
        new TimeLineItem("完成一款日流量千人应用","使用Blazor接入科大讯飞Authentication，为北京丰台教育云平台打造了一款AI对话平台，接入各种大模型，学生，老师已初步使用","2025-8-20"),
        new TimeLineItem("上位机和Godot","使用Godot来构建我自己的游戏，同时学习Avalonia，开发原生应用","2025-9-12"),
        new TimeLineItem("准备实习","已找到实习单位，将AI与Avalonia结合，打造最前沿的上位机系统","2025-12-20"),
        new TimeLineItem("至今-大学毕业","学通Dotnet框架,掌握微软技术栈","2027-6-31"),
        new TimeLineItem("大学毕业-未来","Github上有500星的项目,成为微软MVP！","——--"),

    };
    private class TimeLineItem
    {
        public TimeLineItem(string? title,string content,string time)
        {
            Title = title;
            Content = content;
            Time = time;
        }
        public string? Title { get; set; }
        public string? Content{ get; set; }
        public string? Time{ get; set; }
    }
}